In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.chdir("..")

In [4]:
qaoa_solution_file="./data/qaoa_tsp_solution_n=4_N=100_p=1_method=COBYLA"
classical_solution_file="./data/classical_tsp_solution_n=4_N=100"

In [5]:
qaoa_solution=pd.read_csv(qaoa_solution_file)
classical_solution=pd.read_csv(classical_solution_file)

In [6]:
qaoa_solution.head()

,Unnamed: 0,opt_param,final_state,cost,mean_cost,n_iteration
0,0,[ 2.90019952 -0.00631379],"[0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0]",20.0,21.033580,13
1,1,[1.00000000e-01 2.85768455e-12],"[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0]",26.0,26.023853,10
2,2,[1.00000000e-01 6.19705198e-12],"[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0]",22.0,22.003396,10
3,3,[ 2.90019952 -0.00631379],"[0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0]",23.0,26.875926,13
4,4,[ 0.04812845 -0.02501752],[],13.0,13.750940,14

In [7]:
classical_solution.head()

   Unnamed: 0             0     1
0           0  [0, 2, 3, 1]  20.0
1           1  [0, 3, 2, 1]  26.0
2           2  [0, 2, 3, 1]  20.0
3           3  [0, 2, 3, 1]  23.0
4           4  [0, 3, 1, 2]  13.0

In [23]:
solution_distance=(qaoa_solution.cost-classical_solution.iloc[:,-1])

In [27]:
[np.sum(solution_distance<i) for i in [0.1,1.1,2.1]]

[76, 87, 95]

In [29]:
qaoa_solution.cost.mean()

17.7

In [30]:
qaoa_solution.n_iteration.mean()

11.61